%h1 Listing productfeeds

%table
  %tr
    %th Id
    %th Link
    %th Summary
    %th Title
    %th Updated
    %th
    %th
    %th

  - @productfeeds.each do |productfeed|
    %tr
      %td= productfeed.id
      %td= productfeed.link
      %td= productfeed.summary
      %td= productfeed.title
      %td= productfeed.updated
      %td= link_to 'Show', productfeed
      %td= link_to 'Edit', edit_productfeed_path(productfeed)
      %td= link_to 'Destroy', productfeed, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Productfeed', new_productfeed_path
