<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>
	<div id='content' style="display:none;width:754px;height:524px;background-image:url('/assets/message.png');">
	  <div style='position:relative;' id='form_footer'>
		<%= image_submit_tag("submit_button.gif", :style => 'padding-top:14px;border-width:0px;margin:0px;position:absolute;top:395px;left:409px;') %>
		<!--<input type=image src='images/submit_button.gif' style='padding-top:14px;border-width:0px;margin:0px;position:absolute;top:395px;left:409px;'>-->
		<div id='error'>Oops! Please fill all fields</div>
	  </div>
	  <div id='formdiv' style='padding-top:266px;padding-left:413px;color:white;'>
		<%= image_tag("label-email.png", :class => 'form-label') %>
		<!--<img src='images/label-email.png' class='form-label'>-->
		<br>
		<%= f.email_field :email, :style => "width:70%", :class => "textbox" %>
		<!--<input type=text id='email' name='email' style='width:70%;' class='textbox'>-->
		<br>
		<%= image_tag("label-password.png", :class => 'form-label') %>
		<!--<img src='images/label-password.png' class='form-label'>-->
		<br>
		<!--<input  id='password' name='password' type=password style='width:70%;' class='textbox'>-->
		<%= f.password_field :password, :style => "width:70%", :class => "textbox" %>
		<br>
		<span class='normaltext'>
          <% if devise_mapping.rememberable? && !facebook? -%>
            <%= f.check_box :remember_me %> <%= f.label :remember_me %>
          <% end -%>
		</span>
		<!--<span class='normaltext'><input type=checkbox> Remember me</span>-->
		<br>
		<div  style="padding-top:55px;font-size:11px;color:gray;font-family:Tahoma,Arial;font-size:12px;">
		  <a href='/users/sign_up'>Sign up</a>
		  &nbsp;|&nbsp;
		  <a href='/users/password/new'>Forgot your password?</a>
		  <br>
		  <!--<a href='/users/auth/facebook'><img src="images/fb-login-button.png" style="padding-top:10px;"></a>-->
		  <a href='/users/auth/facebook'><%= image_tag("fb-login-button.png", :style => "padding-top:10px;") %></a>
		</div>
	  </div>

	  <div id='formthanksdiv' style='display:none;padding-top:270px;padding-left:415px;color:white;padding-right:100px;'>
		<font style='font-family:Arial,Tahoma;font-size:12px;color:#e1ecff;'>
		  <font size=2>
			Thank You for your interest!
		  </font>
		  <br><br>
		  For earlier access, please invite your
		  friends to become a supporter.
		  <br><br>
		  Here is your link to share with friends.
		  (tiny url link)
		  (Twitter) (FB) (G+) (Pinterest)
		  <br><br>
		  When 20 of your friends sign up we will send you this awesome limited edition B$ shirt.
		</font>
	  </div>

	</div>
<% end %>

